//Sidebar colors
$background : #fff;
$li-hover : #FFF3E0;
$text-li : #737272;
$border : #ffc774;
$text-sidebar : #e67e22;


//header
$icon-color : #fff;

//colors
$main-color: #ffa800;
$second-color: #727171;

$menu-color: #ff9300;
$menu-hover: #fa9000;
$menu-active: darken($menu-color, 1%);
$main-hover : darken($menu-color, 1%);
$blue-button: #0057ff;


$blue: #2b8ccd;

$text-color: #fff;