#sidebar {
	position: fixed;
	background-color: $background;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 75px;
	width: 220px;	
	transition: transform ease 0.2s, width 0.25s linear;
	@include translate(-238px, 0);	
	overflow: auto;
	z-index: 9;
	@include user-select();

	&.active {
		@include translate(0, 0);
	}

	@media (min-width: $screen-desktop-min) {
		@include translate(0, 0);
	}
	
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
	
	.sidebar-menu-name {
		color: $text-color;
		font-size: 12px;
		padding: 16px 24px 4px;    
	}

	.sidebar-menu  {		
		.sidebar-dropdown {
			.sidebar-link {
				&:after {
					font-size: 10px;
					font-family: 'Glyphicons Halflings';
					color: $text-li;
					content: "\e079";
					position: absolute;
					right: 20px;
					top: 17px;
					transition: transform 0.2s ease;
				}
			}
		}
		
		.sidebar-link {
			border-top: 1px solid $text-color;
      border-left: 5px solid transparent;
			color: $text-li;
			cursor: pointer;
			display: block;
			font-weight: 300;
			position: relative;
			padding: 14px 20px 14px 66px;
			text-decoration: none;
			transition: border-left 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);

			&:hover {
        background: $li-hover;
        border-left: solid 5px $main-color;
			}
      
      i {
        color: $text-sidebar;
        font-size: 26px;
      }

			.sidebar-icon {
			  font-size: 18px;
				text-align: center;
				position: absolute;
				left: 21px;
				width: 25px;
				height: 20px;
				bottom: 0;
				top: 0;
				margin: auto;
				padding: 0;
			}
			
			&[aria-expanded="true"] {
				background-color: $border;

				&:after {
					@include rotate(-90);
				}
			}
			
			&.active {
				background-color: $border;
				border-left: solid 5px  $menu-active;
        font-weight: bolder;
				//	pointer-events: none;

				&:before {
					content: "";
					position: absolute;
					right: 0;
					width: 0;
					height: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					border-top: 12px solid transparent;
					border-bottom: 12px solid transparent;
					border-right: 12px solid #ff5722;
				}

				&:after {
					color: #FFF;
				}
			}
		}
	}

	.sidebar-submenu {
		.sidebar-submenu-link {
			font-size: 14px;
			color: $text-li;
			padding: 8px 20px 8px 62px;
			display: block;
			width: 100%;
			text-decoration: none;

			&:hover {
				background-color: $border;
			}

			.sidebar-submenu-link-name {
				width: 124px;
				display: block;
			}
		}

		li:last-child {
			padding-bottom: 12px;
		}

		.active {
			background-color: $border;
		}
	}	
	#sidebar-user{
		background-color: $background;		
	}	
	.sidebar-user {
		background-color: $background;		
		font-size: 14px;
		color: $text-sidebar;
		display: block;
		margin: 0;
		clear: both;
		.sidebar-user-icon {
			bottom: 0;
			font-size: 30px;
			height: 34px;
			margin: auto;
			left: 16px;
			left: 20px;	
			padding: 0 ;
			position: absolute;
			top: 0;
			width: 34px;
		}
		
		&.sidebar-dropdown {
			.sidebar-link {
				border-top: none;
				padding: 24px 20px 24px 66px;
				
				&:after {
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-top: 4px dashed;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
					color: $text-li;
					top: 0;
					bottom: 0;
					margin: auto;
				}

				&[aria-expanded="true"]:after {					
					@include rotate(-180);
				}
			}
		}
	}
	.sidebar-links{
		background-color: $background;
	}
	
}


// SIDEBAR ATIVADO

.sidebar-collapse-active {
//	overflow: hidden;
}
@media (min-width: $screen-tablet-min) {
	.sidebar-collapse-active {
		
		#sidebar {
			width: 66px;
			overflow: hidden;
		}

		.sidebar-link:after {
			display: none;
		}

		.sidebar-submenu {
			display: none;
		}
		
		.header-logo {
			width: 72px;
			overflow: hidden;

			.header-logo-name,
			.header-logo-description {
				opacity: 0;
			}			
		}			
		
		main {
			padding-left: 74px;
		}
		
		#sidebar {			
			.sidebar-user {
				.sidebar-link {				
					&:after {
						display: none;
					}
				}	
			}
			
			.sidebar-menu-name {
				padding: 16px 0 4px;
				text-align: center;
			}
		}
	}	
}


#sidebar.sidebar-collapse-hover.active {
	width: 238px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

	.sidebar-link:after,
	.sidebar-submenu.collapse.in {
		display: block;
	}
	
	.sidebar-menu-name {
		text-align: left;
		padding: 16px 24px 4px;
	}
}

.sidebar-overlay {
	display: none;
	@media (max-width: $screen-tablet-max) {
		background-color: #000;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0.6;
		z-index: 6;
		cursor: pointer;
	}
}

main {
	transition: all 0.25s linear;
}


.btn-sidebar-collapse {
  background: none;
	border: none;
  color: $text-sidebar;
	float: right;
  height: $header-height;
  padding: 14px 20px;
	outline: none;
  transition: all 0.2s ease;
	
	@media (min-width: $screen-tablet-min) {
		float: inherit;
		
		&:hover {
      background-color: #eee;
		  border-bottom: solid 4px $main-color;
      
		}
	}
	
	.fa-bars {
		border-radius: 1px;
		color: $main-color;
		font-size: 24px;
		margin: 6px 0;
		transition-duration: .3s;
		
	}
}