.summary {
	font-size: 14px;
	min-width: 200px;
	background-color: #ECF0F1;
	display: inline-block;
	margin-top: 18px;
	border-radius: 0 0 4px 4px;
	.summary-title {
		color: #FFF;
		background-color: #0066B0;
		width: 100%;
		display: block;
		border-radius: 4px 4px 0 0;
		padding: 4px 16px;
	}
	.summary-list {
		font-weight: bold;
		padding: 6px 16px;
		margin: 0;
	}
	.summary-list-name {
		font-weight: normal;
		width: 80px;
		display: inline-block;
	}
}