@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/pt-sans-v8-latin-regular.eot");
	src: local("PT Sans"), local("PTSans-Regular"),
		url("../fonts/pt-sans-v8-latin-regular.eot?#iefix")
		format("embedded-opentype"),
		url("../fonts/pt-sans-v8-latin-regular.woff2") format("woff2"),
		url("../fonts/pt-sans-v8-latin-regular.woff") format("woff"),
		url("../fonts/pt-sans-v8-latin-regular.ttf") format("truetype"),
		url("../fonts/pt-sans-v8-latin-regular.svg#PTSans") format("svg")
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/pt-sans-v8-latin-700.eot");
	src: local("PT Sans Bold"), local("PTSans-Bold"),
		url("../fonts/pt-sans-v8-latin-700.eot?#iefix")
		format("embedded-opentype"),
		url("../fonts/pt-sans-v8-latin-700.woff2") format("woff2"),
		url("../fonts/pt-sans-v8-latin-700.woff") format("woff"),
		url("../fonts/pt-sans-v8-latin-700.ttf") format("truetype"),
		url("../fonts/pt-sans-v8-latin-700.svg#PTSans") format("svg")
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html, body {
	min-height: 100%;
	height: 100%
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	background-color: #f5f5f5;
	min-width: 320px;
	color: #4C4C4C;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased
}

main {
	padding: 84px 0 0;
	min-height: 96vh
}

@media ( min-width : 1000px) {
	main {
		padding: 76px 12px 0 244px
	}
}

li {
	list-style: none
}

a {
	transition: background-color ease 0.2s, color ease 0.2s, border ease
		0.2s
}

a:hover {
	text-decoration: none
}

label {
	font-size: 14px;
	font-weight: 400
}

td {
	position: relative
}

.title {
	font-size: 24px;
	color: #666;
	font-weight: bold;
	padding-bottom: 20px;
	margin: 0
}

@media ( min-width : 768px) {
	.title {
		padding: 10px 0 20px;
		margin: 0
	}
}

.help-block {
	font-size: 13px;
	color: #AEAEAE
}

a {
	cursor: pointer
}

.input-sm {
	height: 28px
}

@media ( min-width : 768px) {
	.temporary-list .dl-horizontal dt {
		width: 84px
	}
	.temporary-list .dl-horizontal dd {
		margin-left: 110px
	}
	.temporary-list .dl-horizontal+.dl-horizontal {
		padding-left: 24px
	}
}

.input-date .text-center .btn {
	border: none
}

.container-fluid {
	position: relative
}

.input-group-btn i {
	padding: 0
}

.input-date .text-center .btn {
	font-size: 14px;
	font-weight: normal;
	padding: 8px 12px;
	border-radius: 0;
	border: 1px solid #ebeceb;
	border-left: none;
	border-top: none
}

.input-date th.text-center {
	text-transform: uppercase;
	padding: 6px 0
}

.input-date table:focus {
	outline: none
}

.input-date .dropdown-menu {
	padding: 0 0 16px
}

.input-date th .btn {
	border: none !important;
	padding: 8px 14px
}

.input-date .btn-group.pull-left, .input-date .btn-success.pull-right {
	margin: 6px 6px 0
}

.table-edit {
	position: absolute;
	top: 0;
	background: #fafafa;
	padding: 16px 24px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
	min-width: 250px;
	z-index: 10
}

.input-group-btn .btn-sm {
	line-height: 14px
}

.form-group label {
	text-transform: capitalize
}

.form-title {
	text-transform: capitalize
}


textarea {
	resize: vertical
}

.modal-progress-step .checkbox-inline {
	margin: 15px 0 24px
}

.nowrap {
	white-space: nowrap
}

.circle-info {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	left: 18px;
	background-color: #ffd11a;
	top: 0;
	bottom: 0;
	margin: auto
}

.download-file {
	color: #337ab7;
	padding-top: 6px;
	display: block
}

.download-file i {
	padding-right: 4px
}

.red {
	color: red
}

.resize {
	resize: none
}

.tooltip-inner {
	white-space: nowrap
}

.header {
	background-color: #364150;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.header .header-logo {
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
	display: block;
	float: left;
	transition: transform ease 0.2s, width 0.25s linear;
	padding: 10px 0 0 64px;
	background: url(../img/logo-emb.png) no-repeat 18px 15px;
}

.header .header-logo .header-logo-name {
	transition: all 0.2s ease
}

.header .header-logo .header-logo-description {
	font-size: 13px;
	font-weight: normal;
	padding-left: 16px;
	width: 120px;
	line-height: 12px;
	display: inline-block;
	position: relative;
	transition: all 0.2s ease
}

.header .header-logo .header-logo-description:before {
	width: 1px;
	background-color: #FFF;
	content: "";
	height: 100%;
	position: absolute;
	left: 4px
}

.header .navbar-right {
	padding-right: 25px
}

.header .navbar-right .dropdown-toggle-language {
	padding: 18px;
	height: 60px
}

.header .navbar-right .dropdown-toggle-language:hover {
	color: #333
}

.header .navbar-right .dropdown-menu {
	border: none
}

.header .navbar-right .dropdown-menu a {
	font-size: 16px;
	color: #4C4C4C;
	padding: 6px 20px
}

.header .navbar-right .dropdown-menu a img {
	margin-right: 6px
}

.header .dropdown.open .header-icons-action {
	background-color: #195580
}

.header .dropdown.open .dropdown-toggle {
	color: #4C4C4C;
	background-color: #FFF
}

.header .header-icons {
	float: right
}

@media ( min-width : 768px) {
	.header .header-icons {
		padding-right: 16px
	}
}

.header .header-icons .navbar-nav {
	display: none
}

@media ( min-width : 768px) {
	.header .header-icons .navbar-nav {
		display: block
	}
}

.header .header-icons .header-icons-action {
	display: none
}

@media ( min-width : 768px) {
	.header .header-icons .header-icons-action {
		font-size: 20px;
		color: #79869a;
		padding: 20px 18px;
		height: 60px;
		display: block;
		float: left
	}
	.header .header-icons .header-icons-action:hover {
		color: #b4bcc8;
		background-color: #2C3542
	}
}

#sidebar {
	position: fixed;
	background-color: #364150;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 60px;
	width: 238px;
	transition: transform ease 0.2s, width 0.25s linear;
	-moz-transform: translate(-238px, 0);
	-o-transform: translate(-238px, 0);
	-ms-transform: translate(-238px, 0);
	-webkit-transform: translate(-238px, 0);
	transform: translate(-238px, 0);
	overflow: auto;
	z-index: 9;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#sidebar.active {
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

@media ( min-width : 1000px) {
	#sidebar {
		-moz-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
}

#sidebar::-webkit-scrollbar {
	width: 8px
}

#sidebar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

#sidebar::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey
}

#sidebar .sidebar-menu-name {
	color: #b4bcc8;
	font-size: 12px;
	padding: 16px 24px 4px
}

#sidebar .sidebar-menu .sidebar-dropdown .sidebar-link:after {
	font-size: 10px;
	font-family: 'Glyphicons Halflings';
	color: #606C7D;
	content: "\e079";
	position: absolute;
	right: 20px;
	top: 17px;
	transition: transform 0.2s ease
}

#sidebar .sidebar-menu .sidebar-link {
	color: #b4bcc8;
	display: block;
	padding: 14px 20px 14px 66px;
	position: relative;
	text-decoration: none;
	font-weight: 300;
	border-top: 1px solid #3d4957;
	transition: all 0.2s ease;
	cursor: pointer
}

#sidebar .sidebar-menu .sidebar-link:hover {
	background: #2C3542
}

#sidebar .sidebar-menu .sidebar-link .sidebar-icon {
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 21px;
	width: 25px;
	height: 20px;
	bottom: 0;
	top: 0;
	margin: auto;
	padding: 0
}

#sidebar .sidebar-menu .sidebar-link[aria-expanded="true"] {
	background-color: #2C3542
}

#sidebar .sidebar-menu .sidebar-link[aria-expanded="true"]:after {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

#sidebar .sidebar-menu .sidebar-link.active {
	color: #FFF;
	background-color: #0066b0;
	border-color: #0066b0
}

#sidebar .sidebar-menu .sidebar-link.active:before {
	content: "";
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid #f5f5f5
}

#sidebar .sidebar-menu .sidebar-link.active:after {
	color: #FFF
}

#sidebar .sidebar-submenu .sidebar-submenu-link {
	font-size: 14px;
	color: #b4bcc8;
	padding: 8px 20px 8px 67px;
	display: block;
	width: 100%;
	text-decoration: none
}

#sidebar .sidebar-submenu .sidebar-submenu-link:hover {
	background-color: #3e4b5c
}

#sidebar .sidebar-submenu .sidebar-submenu-link .sidebar-submenu-link-name
	{
	width: 124px;
	display: block
}

#sidebar .sidebar-submenu li:last-child {
	padding-bottom: 12px
}

#sidebar .sidebar-submenu .active {
	background-color: #3e4b5c
}

#sidebar .sidebar-user {
	color: #FFF;
	background-color: #2f353f;
	display: block;
	margin: 0;
	clear: both;
}

#sidebar .sidebar-user .sidebar-user-icon {
	width: 26px;
	height: 26px;
	font-size: 20px;
	fill: #FFF;
	border-radius: 50%;
	border: 2px solid #FFF;
	position: absolute;
	left: 24px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 4px
}

#sidebar .sidebar-user.sidebar-dropdown .sidebar-link {
	border-top: none;
	padding: 24px 20px 24px 66px
}

#sidebar .sidebar-user.sidebar-dropdown .sidebar-link:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	color: #fff;
	top: 0;
	bottom: 0;
	margin: auto
}

#sidebar .sidebar-user.sidebar-dropdown .sidebar-link[aria-expanded="true"]:after
	{
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

@media ( min-width : 768px) {
	.sidebar-collapse-active #sidebar {
		width: 66px;
		overflow: hidden
	}
	.sidebar-collapse-active .sidebar-link:after {
		display: none
	}
	.sidebar-collapse-active .sidebar-submenu {
		display: none
	}
	.sidebar-collapse-active .header-logo {
		height: 60px;
		overflow: hidden;
		width: 72px;
	}
	.sidebar-collapse-active .header-logo .header-logo-name,
		.sidebar-collapse-active .header-logo .header-logo-description {
		opacity: 0
	}
	.sidebar-collapse-active main {
		padding-left: 74px
	}
	.sidebar-collapse-active #sidebar .sidebar-user .sidebar-link:after {
		display: none
	}
	.sidebar-collapse-active #sidebar .sidebar-menu-name {
		padding: 16px 0 4px;
		text-align: center
	}
}

#sidebar.sidebar-collapse-hover.active {
	width: 238px;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0
		rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)
}

#sidebar.sidebar-collapse-hover.active .sidebar-link:after, #sidebar.sidebar-collapse-hover.active .sidebar-submenu.collapse.in
	{
	display: block
}

#sidebar.sidebar-collapse-hover.active .sidebar-menu-name {
	text-align: left;
	padding: 16px 24px 4px
}

.sidebar-overlay {
	display: none
}

@media ( max-width : 767px) {
	.sidebar-overlay {
		background-color: #000;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0.6;
		z-index: 6;
		cursor: pointer
	}
}

main {
	transition: all 0.25s linear
}

.btn-sidebar-collapse {
    background: none;
    border: none;
    color: #e67e22;
    float: right;
    height: 60px;
    padding: 14px 20px;
    outline: none;
    transition: all 0.2s ease;
}

@media ( min-width : 768px) {
	.btn-sidebar-collapse {
		float: inherit
	}
	.btn-sidebar-collapse:hover {
		background-color: #2C3542
	}
	.btn-sidebar-collapse:hover .icon-bar {
		background-color: #b4bcc8
	}
}

.btn-sidebar-collapse .icon-bar {
	background-color: #FFFFFF;
	border-radius: 1px;
	display: block;
	height: 3px;
	margin: 5px 0;
	width: 30px;
}

.card {
	background: #FFF;
	padding: 16px 16px;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin-bottom: 24px;
	position: relative;
	clear: both
}

.card:after, .card:before {
	clear: both;
	display: block;
	content: ""
}

@media ( min-width : 768px) {
	.card {
		padding: 16px 24px
	}
}

.card.nopadding .card-title {
	padding: 16px 24px 0;
	margin: 0 0 16px
}

.card.nopadding .search-col {
	padding: 16px 24px
}

.card .card-body {
	padding: 24px 24px 12px
}

.card .card-body+.card-action {
	padding-top: 0
}

.card .card-body-form {
	padding: 16px 0
}

.card .card-action {
	padding: 24px;
	clear: both
}

.card .card-action .btn-default {
	border-color: #FFF
}

.card .card-action .btn+.btn {
	margin-left: 14px
}

.card .form-control {
	border-color: #E6E6E6;
	border-width: 2px;
	border-radius: 20px
}

.card .form-control:focus {
	border-color: #539acb;
	box-shadow: none
}

.card .card-title {
	font-size: 18px;
	color: #4C4C4C;
	font-weight: bold;
	margin: 0
}

.card .card-title.card-title-categoria {
	font-size: 18px
}

.card .card-title.card-title-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden
}

.card .card-title[data-toggle="collapse"] {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	transition: color 0.2s ease
}

.card .card-title[data-toggle="collapse"]:hover {
	color: #4285f4
}

.card .card-title[data-toggle="collapse"]:after {
	font-size: 12px;
	transform: rotate(0);
	transition: transform 0.2s ease;
	display: inline-block;
	padding-left: 4px;
	font-family: 'Glyphicons Halflings';
	content: "\e114"
}

.card .card-title[aria-expanded="true"]:after {
	transform: rotate(180deg)
}

.card .table {
	margin-bottom: 0
}

.card .nav-tabs {
	border-bottom: 2px solid #eee;
	margin: 0 24px
}

.form-title {
	font-size: 16px;
	border-bottom: 2px solid #EEE;
	padding: 12px 0 4px;
	margin-bottom: 16px;
	display: block
}

#all-cards {
	margin: 0 -20px
}

.card-search .card {
	padding: 0;
	overflow: hidden;
	transition: all 0.2s ease
}

.card-search .card:hover {
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3)
}

.card-search .card:hover .card-action-btn a {
	color: #747474
}

.card-search .card-body {
	padding: 24px
}

.card-search .card-title {
	font-size: 22px;
	margin: 0
}

.card-search .card-title.card-title-ellipsis {
	width: 68%
}

.card-search a.card-title:hover {
	text-decoration: underline
}

.card-search .card-search-box {
	position: relative;
	float: right;
	overflow: hidden;
	height: 120px;
	width: 120px;
	margin: 16px
}

.card-search .card-search-img {
	height: 120px;
	background-color: #BDBDBD;
	width: 120px;
	transition: all 0.3s ease
}

.card-search .card-search-img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.card-search .card-description {
	line-height: 16px;
	margin: 6px 0 8px;
	font-size: 15px
}

.card-search .card-info {
	padding-left: 26px;
	position: relative;
	font-size: 14px;
	margin-top: 16px
}

.card-search .card-info:last-child {
	margin-bottom: 0
}

.card-search .card-info.location {
	font-weight: bold;
	margin: 0
}

.card-search .card-info.location .card-info-icon {
	font-size: 18px;
	height: 30px;
	padding: 3px 0
}

.card-search .card-info .card-info-icon {
	position: absolute;
	left: -2px;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: normal;
	font-size: 16px;
	height: 24px;
	padding: 3px 0
}

.card-search .card-info .card-info-icon.material-icons {
	font-size: 18px;
	left: -4px
}

.card-search .card-info .card-info-name {
	width: 50px;
	display: inline-block;
	font-weight: normal
}

.pg-machine .card-body {
	position: relative;
	width: calc(100% - 120px)
}

.pg-machine .card-machine-status {
	position: absolute;
	right: 32px;
	top: 16px
}

.pg-single-machine .table {
	border: 1px solid #eee
}

.pg-single-machine .pg-single-machine-info {
	margin-bottom: 24px
}

.pg-single-machine .img-responsive {
	border-radius: 2px
}

.pg-single-machine .title {
	padding: 12px 0 0
}

.card-action-btn {
	clear: both;
	padding: 12px 10px;
	font-size: 18px;
	text-align: right
}

.card-action-btn a {
	color: #747474;
	color: #fff;
	margin: 0 14px;
	display: inline-block
}

.card-action-btn a:focus {
	outline: none
}

.card-label {
	position: absolute;
	top: 24px;
	right: 24px
}

.pg-active .card-info-name {
	display: none !important
}

.pg-active .card-title {
	max-width: 68%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.pg-software-card .card-search .card-info-name {
	width: 100px
}

.pg-software-card .card-search .card-info {
	font-weight: bold
}

.input-search {
	position: relative;
	margin-bottom: 6px
}

.input-search .icon-search {
	font-size: 14px;
	position: absolute;
	top: 36px;
	right: 16px
}

.input-search .icon-search[ng-click] {
	cursor: pointer
}

.pg-version-card .card .card-body, .pg-ative-software-card .card .card-body
	{
	padding-bottom: 0
}

.pg-version-card .card-search .card-info .card-info-name {
	width: 80px
}

.table {
	background-color: #FFF;
	font-size: 12px
}

@media ( min-width : 768px) {
	.table {
		font-size: 14px
	}
}

.table thead {
	text-transform: uppercase
}

.table thead th {
	border-top: 1px solid #f0f4fa !important
}

.table thead th:first-child {
	border-top-left-radius: 4px
}

.table thead th:last-child {
	border-top-right-radius: 4px
}

.table.table-hover tbody tr {
	transition: background-color ease 0.2s, color ease 0.2s
}

.table.table-hover tbody tr:hover {
	background-color: #eee
}

.table.table-striped.table-hover>tbody>tr:nth-of-type(odd) {
	background-color: #f4f4f4
}

.table.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover {
	background-color: #eee
}

.table tr td, .table tr th {
	vertical-align: middle !important;
	color: #4c4c4c
}

.table tr td:first-child, .table tr th:first-child {
	padding-left: 16px
}

@media ( min-width : 768px) {
	.table tr td:first-child, .table tr th:first-child {
		padding-left: 24px
	}
	.table tr td:first-child.td-icon, .table tr th:first-child.td-icon {
		padding-left: 44px
	}
}

.table tr td:last-child, .table tr th:last-child {
	padding-right: 16px
}

@media ( min-width : 768px) {
	.table tr td:last-child, .table tr th:last-child {
		padding-right: 24px
	}
}

.table .table-border-all {
	border: 1px solid #eee
}

@media ( min-width : 1000px) {
	.table-checkbox tr td, .table-checkbox tr th, .table-radiobutton tr td,
		.table-radiobutton tr th {
		position: relative;
		cursor: pointer
	}
	.table-checkbox tr td:first-child, .table-checkbox tr th:first-child,
		.table-radiobutton tr td:first-child, .table-radiobutton tr th:first-child
		{
		padding-left: 68px
	}
	.table-checkbox tr td:last-child, .table-checkbox tr th:last-child,
		.table-radiobutton tr td:last-child, .table-radiobutton tr th:last-child
		{
		padding-right: 68px
	}
	.table-checkbox tr td:first-child:before, .table-radiobutton tr td:first-child:before
		{
		content: "";
		width: 20px;
		height: 20px;
		border: 2px solid #999;
		display: block;
		position: absolute;
		left: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		border-radius: 2px
	}
	.table-checkbox tr.success td, .table-radiobutton tr.success td {
		background-color: #E0E0E0 !important
	}
	.table-checkbox tr.success td:first-child:before, .table-radiobutton tr.success td:first-child:before
		{
		background-color: #1D6294;
		border-color: #1D6294
	}
	.table-checkbox tr.success td:first-child:after, .table-radiobutton tr.success td:first-child:after
		{
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		left: 31px;
		top: 0;
		width: 6px;
		height: 13px;
		border-width: 2px;
		border-style: solid;
		border-top: 0;
		border-left: 0;
		border-color: #fff;
		content: '';
		z-index: 3;
		bottom: 3px;
		margin: auto
	}
	.table-radiobutton td:first-child:before {
		border-radius: 50% !important;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		-ms-border-radius: 50% !important;
		-o-border-radius: 50% !important
	}
}

.pagination-table .pagination {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin: 16px 24px
}

.table-cursor tbody tr {
	cursor: pointer
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	padding: 12px 8px;
	border: none
}

.btn {
	transition: all 0.2s ease;
	text-transform: uppercase;
	font-weight: bold;
	border-width: 2px;
	padding: 0 6px;
	border-radius: 20px
}

.btn.btn-success {
	border-color: #5cb85c
}

.btn.btn-success:hover:enabled {
	background-color: #FFF;
	color: #5cb85c
}

.btn.btn-danger:hover:enabled {
	background-color: #FFF;
	color: #d9534f
}

.btn.btn-primary {
	border-color: #337ab7
}

.btn.btn-primary:hover {
	background-color: #FFF;
	color: #337ab7
}

.btn.btn-primary.active {
	border-color: #286090
}

.btn:active, .btn:focus {
	outline: none !important
}

.btn.btn-icon i {
	padding-right: 6px
}

.btn.btn-lg {
	font-size: 16px;
	padding: 8px 16px
}

.btn.btn-lg.btn-icon i {
	padding-right: 10px
}

.btn.btn-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 44px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	border: none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15)
}

.btn.btn-circle i {
	padding: 0
}

.btn-action .btn+.btn {
	margin-left: 14px
}

.btn-add {
	position: absolute;
	right: 16px;
	top: -5px
}

@media ( min-width : 768px) {
	.btn-add {
		top: 4px
	}
}

.select2-container--default .select2-selection--single {
	font-size: 14px;
	border-color: #E6E6E6;
	border-width: 2px;
	border-radius: 20px;
	padding: 0px 6px;
	height: 34px
}

.select2-container--default .select2-selection--single:focus {
	outline: none
}

.select2-container--default .select2-selection--single .select2-selection__arrow
	{
	height: 32px;
	top: 1px;
	right: 6px;
	width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b
	{
	transition: border 0.2s ease
}

.select2-container--default .select2-search--dropdown .select2-search__field
	{
	border-color: #E6E6E6;
	border-width: 2px;
	padding: 6px 12px;
	height: 34px;
	border-radius: 20px;
	width: 96%;
	margin: 4px auto;
	display: block;
	transition: border 0.2s ease
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus
	{
	outline: none;
	border-color: #539acb
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #337ab7
}

.select2-container {
	width: 100% !important
}

.nav-tabs>li>a {
	text-transform: uppercase;
	color: #7a7a7a
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #000;
	border: none;
	border-bottom: 2px solid #1d6294
}

.tab-title {
	font-size: 18px;
	padding-bottom: 24px;
	margin: 0
}

.checkbox-bt label, .radio-bt label {
	padding-left: 30px
}

.checkbox-bt input[type="checkbox"], .checkbox-bt .radio, .radio-bt input[type="checkbox"],
	.radio-bt .radio {
	display: none
}

.checkbox-bt input[type="checkbox"]:checked+.box:after, .checkbox-bt .radio:checked+.box:after,
	.radio-bt input[type="checkbox"]:checked+.box:after, .radio-bt .radio:checked+.box:after
	{
	background-color: #2196f3;
	border-color: #2196f3;
	background-color: #0066b0;
	border-color: #0066b0
}

.checkbox-bt input[type="checkbox"]:checked+.box:before, .checkbox-bt .radio:checked+.box:before,
	.radio-bt input[type="checkbox"]:checked+.box:before, .radio-bt .radio:checked+.box:before
	{
	transform: rotate(45deg);
	position: absolute;
	left: 7px;
	top: 0;
	width: 6px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	border-color: #fff;
	content: '';
	z-index: 2
}

.checkbox-bt input[type="checkbox"]+.box, .checkbox-bt .radio+.box,
	.radio-bt input[type="checkbox"]+.box, .radio-bt .radio+.box {
	position: absolute;
	left: 0;
	top: 4px
}

.checkbox-bt input[type="checkbox"]+.box:after, .checkbox-bt input[type="checkbox"]+.box:before,
	.checkbox-bt .radio+.box:after, .checkbox-bt .radio+.box:before,
	.radio-bt input[type="checkbox"]+.box:after, .radio-bt input[type="checkbox"]+.box:before,
	.radio-bt .radio+.box:after, .radio-bt .radio+.box:before {
	transition: all 0.3s
}

.checkbox-bt input[type="checkbox"]+.box:after, .checkbox-bt .radio+.box:after,
	.radio-bt input[type="checkbox"]+.box:after, .radio-bt .radio+.box:after
	{
	position: absolute;
	left: 4px;
	top: 3px;
	margin-top: -5px;
	margin-left: -4px;
	display: inline-block;
	content: ' ';
	width: 20px;
	height: 20px;
	border: 2px solid #999;
	border: 2px solid #d0d0d0;
	border-radius: 2px;
	border-radius: 4px;
	background-color: #fff;
	z-index: 1
}

.radio-bt .radio+.box:after {
	border-radius: 50%
}

.summary {
	font-size: 14px;
	min-width: 200px;
	background-color: #ECF0F1;
	display: inline-block;
	margin-top: 18px;
	border-radius: 0 0 4px 4px
}

.summary .summary-title {
	color: #FFF;
	background-color: #0066B0;
	width: 100%;
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 4px 16px
}

.summary .summary-list {
	font-weight: bold;
	padding: 6px 16px;
	margin: 0
}

.summary .summary-list-name {
	font-weight: normal;
	width: 80px;
	display: inline-block
}

.list-select {
	margin: 0
}

.list-select .list-select-title {
	padding: 0 24px 10px;
	display: block
}

.list-select .list-select-head {
	font-size: 14px;
	padding: 10px;
	padding-left: 66px;
	font-weight: bold
}

.list-select li {
	margin: 0;
	padding-left: 24px
}

.list-select li:not (.list-select-head ):nth-of-type(even) {
	background-color: #f4f4f4
}

.list-select li.active {
	background-color: #E0E0E0
}

.list-select .checkbox-bt, .list-select .radio-bt {
	margin: 0
}

.list-select .checkbox-bt label, .list-select .radio-bt label {
	display: block;
	padding: 10px;
	padding-left: 42px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.list-select .checkbox-bt label .box, .list-select .radio-bt label .box
	{
	top: 12px
}

.calendar {
	background: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 6px;
	display: block;
	margin: auto;
	padding: 0 15px;
}

.calendar:before, .calendar:after {
	content: "";
	display: block;
	clear: both
}

.calendar ul {
	font-size: 0;
	margin: 0
}

.calendar-number{
	margin: 0;

}

@media screen and (min-width: 768px) {
  .calendar-number{
	text-align: center;
	width: 40px;
  }
}

.calendar .calendar-day {
	font-size: 16px;
	width: 14.28%;
	background-color: #FFF;
	color: #ADADAD;
	color: #7e7e7e;
	border-left: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding: 10px 12px;
	float: left;
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.calendar .calendar-day-title {
	background-color: #364150;
	color: #FFFFFF;
	    border: 1px solid rgba(54, 65, 80, 0.9);
	font-size: 16px;
	padding: 10px 0;
}

.calendar .calendar-day .calendar-day-number {
	clear: both;
	color: #CCC;
	display: block;
	float: left;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: -2px;
	padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .calendar .calendar-day .calendar-day-number{
	font-size: 25px;
	padding: 10px 0;
  }
}

.calendar .calendar-day-month:hover {
	border: 1px solid red;
}

.clicked-day{
	border: 1px solid red!important;
}

.calendar .calendar-day-month {
	border: 1px solid #f0f0f0;
}

.calendar .calendar-day .calendar-day-hour {
	font-size: 12px;
	line-height: 12px;
	text-align: left;
	font-weight: normal;
	padding: 2px 8px;
	background-color: #eee;
	width: 90%;
	display: block;
	margin: 0 auto;
	clear: both
}

.calendar .calendar-day-numbers .calendar-day {
	background-color: #FFF;
	/*border: 1px solid rgba(54, 65, 80, 0.9);*/
	height: 62px;
	padding: 0
}

@media screen and (min-width: 768px) {
  .calendar .calendar-day-numbers .calendar-day{
	height: 84px;
  }
}


.calendar .calendar-title {
	font-size: 20px;
	margin: 0;
	text-align: center;
	padding: 0 20px;
	color: #3c3f40;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
}

#calendar-appointments > hr{
	margin: 6px 0;
}

.calendar .calendar-title .calendar-title-arrow {
	color: #82888a;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin: 0 6px;
	padding: 12px 0;
	transition: all 0.2s ease;
	width: 20px;
}

.calendar .calendar-title .calendar-title-arrow > .glyphicon {
	top: 3px;
}

.calendar .calendar-title .calendar-title-arrow:hover {
	color: #3b3b3b
}

.calendar .calendar-day-footer {
	position: absolute;
	bottom: 0;
	width: 100%
}

.calendar .calendar-day-footer a {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: normal;
	padding: 0;
	text-align: center;
	color: #5e5e5e;
	border: none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	display: inline-block
}

.calendar .calendar-day-footer a i {
	font-size: 14px
}

.calendar .icon-check, .calendar .icon-warning {
	font-size: 26px;
	position: absolute;
	right: 10px;
	top: 10px
}

.calendar .icon-check {
	color: #81C784;
	color: #2ecc71
}

.calendar .icon-warning {
	color: #E49C4A
}

.calendar .icon-error {
	font-size: 50px;
	color: #EE593B;
	position: absolute;
	right: 0;
	left: 0;
	top: 10px;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px
}

.hide-phone {
	display: none
}

@media ( min-width : 480px) {
	.hide-phone {
		display: table-cell
	}
}

.nopadding {
	padding: 0 !important
}

.nomargin {
	margin: 0 !important
}

.table-layout {
	table-layout: inherit
}

.cursor-pointer {
	cursor: pointer
}

.margin-left {
	margin-left: 16px !important
}

.margin-bottom {
	margin-bottom: 24px !important
}

.padding-top-none {
	padding-top: 0 !important
}

.row-vertical-middle {
	font-size: 0
}

.row-vertical-middle [class^='col-'] {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	float: none
}

.card-title .btn {
	margin: -4px 0 0 16px
}

.card-catalog {
	position: relative
}

.card-catalog .card-catalog-line:nth-of-type(odd) {
	background-color: #f4f4f4
}

.card-catalog .card-catalog-line:nth-of-type(odd) .card-catalog-line:nth-of-type(odd)
	{
	background: #FFF
}

.card-catalog:before {
	content: "";
	width: 2px;
	background-color: #e0e0e0;
	display: block;
	position: absolute;
	left: 32px;
	top: 32px;
	height: calc(100% - 56px);
	z-index: 1
}

.card-catalog label {
	font-size: 16px !important
}

.card-catalog label[aria-expanded="true"]:after {
	transform: rotate(180deg)
}

.card-catalog label:hover {
	color: #4285f4
}

.card-catalog label[data-toggle="collapse"] {
	cursor: pointer
}

.card-catalog label[data-toggle="collapse"]:after {
	font-size: 10px;
	font-family: 'Glyphicons Halflings';
	color: #727272;
	content: "\e114";
	transition: all 0.2s ease;
	position: relative;
	display: inline-block
}

.card-catalog .form-group {
	position: relative;
	margin-bottom: 0;
	padding: 12px 12px 12px 60px
}

.card-catalog .form-group-sub .card-catalog-number {
	left: 60px
}

.card-catalog .form-group-sub label {
	padding-left: 36px
}

.card-catalog .form-group-sub label:before {
	width: 30px;
	background-color: #e0e0e0;
	content: "";
	display: block;
	left: inherit;
	height: 2px;
	left: 32px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute
}

.card-catalog .form-group-sub-sub .card-catalog-number {
	left: 96px
}

.card-catalog .form-group-sub-sub label {
	padding-left: 72px
}

.card-catalog .form-group-sub-sub label:before {
	width: 70px;
	background-color: #e0e0e0;
	content: "";
	display: block;
	left: inherit;
	height: 2px;
	left: 32px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute
}

.card-catalog .form-group-sub-sub label:after {
	width: 2px;
	background-color: #e0e0e0;
	height: 50px;
	top: -50px;
	bottom: 0;
	margin: auto;
	position: absolute;
	content: "";
	left: 68px
}

.card-catalog-number {
	width: 18px;
	height: 18px;
	display: block;
	background-color: #4285f4;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	color: #FFF;
	padding: 4px 0;
	left: 24px;
	top: -3px;
	bottom: 0;
	margin: auto;
	font-size: 0;
	z-index: 2
}

.card-catalog-number:after {
	width: 8px;
	height: 8px;
	background-color: #FFF;
	display: block;
	content: "";
	border-radius: 50%;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.card-catalog-action {
	position: absolute;
	top: 12px;
	right: 18px
}

.card-catalog-action .btn {
	margin: 0 6px
}

.card-catalog-action .btn-circle {
	width: 28px;
	height: 28px;
	line-height: 14px;
	padding: 0 !important;
	font-size: 12px
}

.card.nopadding .card-title {
	position: relative;
	margin: 0;
	padding: 16px 24px 16px
}

.form-group-tab .form-group {
	margin-left: 24px
}

.form-group-tab .form-group-tab .form-group {
	margin-left: 48px
}

.form-group-tab .form-group-tab .form-title {
	margin: 0 0 6px 24px;
	padding: 0 0 4px
}

.form-group-tab .form-group-tab .form-group-tab .form-title {
	margin-left: 48px
}

.form-group-tab .form-group-tab .form-group-tab .form-group {
	margin-left: 72px
}

.modal .table {
	table-layout: inherit
}

.modal.in .modal-dialog {
	z-index: 1050 !important
}

.modal-header .close {
	font-size: 16px;
	position: absolute;
	right: 0;
	z-index: 10;
	width: 62px;
	height: 54px;
	top: 0
}

.modal-edit-machine .modal-header {
	padding: 15px 25px
}

.modal-edit-machine .modal-body {
	padding-bottom: 0
}

.modal-edit-machine .modal-footer {
	border: none;
	padding: 14px 25px
}

.modal-edit-machine .modal-edit-textarea {
	max-width: 764px;
	margin: 10px 10px;
	display: block;
	position: relative
}

.modal-edit-machine .modal-edit-textarea .form-control {
	border-width: 2px;
	border-radius: 8px;
	resize: none
}

.modal-edit-machine .modal-edit-textarea .modal-footer {
	border: none;
	padding: 14px 25px;
	padding-right: 97px
}

.modal-edit-machine .machile-file-action {
	position: absolute;
	right: 54px;
	top: 26px;
	width: 42px
}

.modal-edit-machine .machile-file-action .btn {
	width: 70px
}

.modal-edit-machine .machile-file-action .btn+.btn {
	margin-top: 12px
}

.modal-edit-machine .machile-file-action .btn i {
	float: left
}

.modal-footer .btn+.btn {
	margin-left: 14px
}

@media ( min-width : 768px) {
	.modal-sm {
		width: 320px
	}
}

.modal-leasing .modal-leasing-info strong {
	padding-left: 14px
}

.modal-leasing .list-title {
	padding: 15px 15px 0
}

.modal-incluir-software h5 {
	padding-left: 24px;
	font-size: 16px;
	font-weight: bold
}

.modal-incluir-software-info {
	padding: 12px 0 22px
}

.ajax-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	display: block
}

.span-notification {
	font-size: 12px;
	color: #FFF;
	position: absolute;
	background-color: #d9534f;
	padding: 1px 5px;
	border-radius: 10px;
	line-height: normal;
	height: 18px;
	width: 18px;
	right: 24px;
	top: 10px;
	text-align: center;
	font-weight: normal
}

.contingency {
	color: red
}

.d-block {
	display: block
}

.title-for-btn {
	padding: 10px 0;
	float: left
}

.danger {
	border: 1px solid #ea0419 !important
}

.ng-invalid-maxlength {
	border: 1px solid #ea0419 !important
}

.pg-machine .card-description {
	min-height: 32px
}

.pg-single-machine .title-integration {
	margin: 8px 0 4px 24px;
	display: block
}

.title-field {
	color: #666;
	margin: 12px 0 6px;
	display: block
}

.popover {
	width: 400px !important;
	left: -158px !important;
}

.arrow {
	left: 68% !important;
}

.div-login {
	position: relative;
	width: 400px;
	top: 150px;
	right: 100px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 18px;
}

.background-svg {
	bottom: 0;
	direction: ltr;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.background-svg svg {
	height: 100%;
	position: relative;
	width: 100%;
}

@keyframes LOADING {
  0% {
    transform: scale(0.8);
    background: #364150; }
  50% {
    transform: scale(1.8);
    background: white; }
  100% {
    transform: scale(0.8);
    background: #364150; } }
@keyframes LOADINGREV {
  0% {
    transform: scale(0.8);
    background: white; }
  50% {
    transform: scale(1.8);
    background: #364150; }
  100% {
    transform: scale(0.8);
    background: white; } }
#loaderDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: #fff;
  opacity: .85; }

.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0; }
  .loading.reversed li {
    border: 3px solid white;
    animation: LOADINGREV 2s infinite; }
    .loading.reversed li:nth-child(1n) {
      animation-delay: 0s; }
    .loading.reversed li:nth-child(2n) {
      animation-delay: 0.2s; }
    .loading.reversed li:nth-child(3n) {
      animation-delay: 0.4s; }
    .loading.reversed li:nth-child(4n) {
      animation-delay: 0.6s; }
  .loading li {
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    margin: 0;
    height: 10px;
    width: 10px;
    border: 3px solid #364150;
    border-radius: 100%;
    transform: transformZ(0);
    animation: LOADING 2s infinite; }
    .loading li:nth-child(1n) {
      left: -20px;
      animation-delay: 0s; }
    .loading li:nth-child(2n) {
      left: 0;
      animation-delay: 0.2s; }
    .loading li:nth-child(3n) {
      left: 20px;
      animation-delay: 0.4s; }
    .loading li:nth-child(4n) {
      left: 40px;
      animation-delay: 0.6s; }

.main .full-height {
	min-height: calc(100vh);
}

.main .login-content {
	transform: translateY(50%);
}

.main .login-logo {
	background-color: #364150;
}

.main .login-form {
	margin-top: 5%;
	padding: 0 15px;
}

@media screen and (min-width: 768px) {
	.main .login-form {
		margin-top: 0%;
	}
}

.main .img-flag-login {
	cursor: pointer;
	width: 30px;
	margin: 10px 5px;
}

.main .logo-mobile {
	margin: 18px 0;
}

.main input[type="submit"] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #364150;
	border: 0px solid #fff;
	border-radius: 3px;
	color: #eee;
	font-weight: bold;
	height: 50px;
	transition: background-color 1s, color .5s;
	text-transform: uppercase;
}

.main input[type="submit"]:hover {
	background-color: #2e3744;
	border-color: transparent;
	color: #fff;
}

.main .forget-password {
	padding: 0;
}

.main .form a {
	color: #fff;
	font-weight: bolder;
}
.main .form-box .login-form .form-control{
	height: 50px;
}
@media only screen and (min-width: 768px) {
	.main .logo-mobile {
		display: none;
	}
	.main .full-height {
		height: calc(100vh);
	}
	.main .login-content {
		position: relative;
		top: 50%;
		transform: translateY(-75%);
	}
	.main .login-logo {
		background-color: #364150;
	}
	.main .form-box {
		box-shadow: 1px 0px 30px 1px rgba(0, 0, 0, 0.53);
		z-index: 2;
	}
	.main .form-box .login-form {
		position: relative;
		top: 60%;
		transform: translateY(-100%);
	}
	.main .form-box .login-form h2 {
		margin-bottom: 18px;
	}

	.main .form-box .login-form p {
		margin-bottom: 36px;
	}

	.main .form-box .login-form .form-control {
		height: 50px;
		color: #555;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
			ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
			.15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.main .form-box .login-form .alert-danger {
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
		margin: 8px 0;
		width: 50%;
	}
}

.list {
/* 	border-top: 1px solid lightgray; */
	font-size: 12px;
	padding: 8px 0;
/* 	border-bottom: 1px solid lightgray; */
}

#list-appointments > hr {
	margin: 0;
}

#list-appointments > .list > p {
	color: #708090;
	margin: 3px 0 0 0;
}

#list-appointments > .appointments-button{
	margin: 11px 0;
}

#list-appointments > .appointments-button > button{
    width: 50%;
    border-radius: 5px;
    border-color: #d6d6d6;
    margin: 0;
}

.glyphicon.glyphicon-circle:before {
	content: "\25cf";
	font-size: 20px;
	line-height: 0px;
}

.glyphicon.glyphicon-empty-circle:before {
	content:"\25cb";
    font-size: 20px;
    line-height: 0px;
}

span.calendar-month {
	color: #364150;
	font-size: 1.15em;
}

span.calendar-year {
	color: slategray;
	font-size: 0.8em;
}

.correction-modal > .row > .col-md-6 {
	margin: 5px 0;
}

 #calendar-days-labels > p {
	margin-top: 5px;
}

@media screen and (min-width: 768px) {
	.label-space{
		margin: 0 20px;
	}
	#calendar-days-labels > p {
	    margin-left: 5px;
	    margin-top: 5px;
	    width: 33%;
	}
}

@media screen and (min-width: 992px) {
  	#calendar-days-labels > p {
	    margin-bottom: 10px;
	    margin-top: 10px;
	    width: 45%;
	}
}

@media screen and (min-width: 1320px) {
  	#calendar-days-labels > p {
		margin-left: 0;
		width: 30%;

	}
}

.calendar-legend {
	margin: 8px 0;
	padding: 0 0 0 5px;
}

.calendar-legend > button[disabled] {
	border-radius: 4px;
	font-size: 10px;
	opacity: 1!important;
	text-align: left;
	width: 100%;
}

.calendar-legend > button > .btn {
	border-radius: 4px;
	height: 14px;
	padding: 5px 1px;
    width: 28px;
}

.calendar-legend > button.btn {
	padding: 5px 1px;
}

.calendar-legend > button > .btn.disabled {
	cursor: initial;
	opacity: 1;
	vertical-align: bottom;
}

.calendar-legend > button > .btn {
    color: #dcdcdc;
}

.-gray {
	background-color: #dcdcdc;
}
.-red {
	background-color: #f8877f ;
}

.-orange {
	background-color:  #f9cd88;
}

.-yellow {
	background-color: #fff175;
}

.-green {
	background-color: #2ecc71;
}

.-purple
{
	background-color: #DDA0DD
}

.appointment-past-day{
	background-color:rgba(149, 165, 166, 0.5) !important;
	color:grey !important;
}

.appointment-needing-approval {
	background-color:#fff175 !important;
	color:grey!important;
}

.appointment-missing{
	background-color:#f8877f  !important;
	color:white !important;
}

.appointment-distributed{
	background-color:#f9cd88 !important;
	color:grey !important;
}

.appointment-approved{
	background-color:#81cba0 !important;
	color:white !important;
}

.missing-close-appointment{
	background-color:	#DDA0DD !important;
	color:grey !important;
}

.appointment-default{
	background-color:#FFFFFF !important;
	color:grey !important;
}

.icone {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  position: absolute;
  fill: #b4bcc8;
  left: 21px;
  width: 25px;
  height: 20px;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0;
}
.icon-users {
  width: 1.6181640625em;
}

